@import url('https://fonts.googleapis.com/css?family=Roboto');

$danger: #dc3545;
$inputBg: rgba(100, 191, 107, 0.63);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #4BBF6B;
  transition: color .5s, background-color .5s;
}

form {
  input, button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 5px;
  }
  label {
    display: block;
    text-align: left;
  }
  input, textarea {
    padding: .2rem .3rem;
    width: 400px;
    background-color: $inputBg;
    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    &.ng-valid.ng-touched {
      border: 1px solid green;
    }
  }
  button {
    background-color: #41a452;
    font-size: 16px;
    transition: background-color .3s;

    &:disabled {
      background: #ccc;
      color: #111;
      cursor: not-allowed;
      &:hover {
        background: #ccc;
      }
    }

    &:hover {
      background-color: darken(#41a452, 10%);
    }
  }
  small {
    display: block;
    color: red;
    text-align: left;
  }
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 1100px;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 0;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  line-height: 1rem;
  text-align: center;
  background-color: transparent;
  font-size: 2rem;
  color: #000;
  cursor: pointer;

  &:hover {
    color: #3d3d3d;
  }
}
